<label
  role="radio"
  aria-checked={{this.checked}}
  tabindex="0"
  class="el-radio {{if @size (concat "el-radio--" @size)}} {{if @border "is-bordered"}} {{if this.checked "is-checked"}} {{if @disabled "is-disabled"}}"
  {{on "click" this.handleClick}}
>
  <span class="el-radio__input {{if this.checked "is-checked"}} {{if @disabled "is-disabled"}}">
    <span class="el-radio__inner"></span>
    <input
      disabled={{@disabled}}
      type="radio"
      name={{@name}}
      class="el-radio__original"
      value={{@label}}
    />
  </span>
  <span class="el-radio__label">
    {{yield}}
  </span>
</label>