<label
  role="radio"
  aria-checked={{this.checked}}
  tabindex="0"
  class="el-radio {{if this.size (concat "el-radio--" this.size)}} {{if @border "is-bordered"}} {{if this.checked "is-checked"}} {{if this.disabled "is-disabled"}}"
>
  <span class="el-radio__input {{if this.checked "is-checked"}} {{if this.disabled "is-disabled"}}">
    <span class="el-radio__inner"></span>
    <input
      disabled={{this.disabled}}
      type="radio"
      name={{@name}}
      class="el-radio__original"
      value={{@label}}
      onclick={{this.handleChange}}
    />
  </span>
  <span class="el-radio__label">
    {{yield}}
  </span>
</label>